.detail_review {
  width: 85%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.avatar {
  width: 35px;
  height: 35px;
  margin-left: 0.7rem;
}

.date {
  font-weight: 400;
  color: #999999;
}

.reactionContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.reactionButton {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  font-size: 1.3rem;
  font-weight: 500;
  margin-left: 1.5rem;
  text-align: end;
}

.reactionButton > i {
  margin-right: 0.3rem;
}

.labelContent {
  min-height: 80%;
  margin: auto;
  padding: 5px;
  border: 1px solid;
  border-radius: 7px;
}

.reviewObject {
  font-weight: bold;
  font-size: 1.1rem;
  text-align: center;
  margin: auto;
}

.mainContent {
  min-height: 400px;
  padding: 10px;
  border: 1px solid;
  border-radius: 20px;
}

.commentAvt {
  width: 80px;
  height: 80px;
}

.commentUsername {
  font-weight: 600;
  max-height: 25px;
}

.commentInput {
  width: 90%;
  min-height: 80px;
  padding: 10px;
  border: 1px solid;
  border-radius: 20px;
}

/* List post */
.list-post {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.list-post .card {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 10px;
  overflow: hidden;
}

.list-post .card a {
  font-size: 24px;
  cursor: pointer;
}
